<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pageTitle}">Chat Interface</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <div class="container">
        <header th:replace="fragments/header :: header"></header>

        <main>
            <section id="chat" class="chat-container">
                <div class="chat-messages" id="chatMessages"></div>
                <div class="chat-input">
                    <input type="text" id="userInput" placeholder="Type your command...">
                    <button onclick="sendMessage()">Send</button>
                </div>
            </section>
        </main>
    </div>

    <script th:src="@{/js/main.js}"></script>
</body>
</html> 